/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.container-big {
    width: 70%;
    max-width: 1100px;

    /* debug */
    height: 100%;
    background-color: #c5844b;
}

.container-small {
    width: 60%;
    max-width: 1000px;

    /* debug */
    height: 300px;
}

/* Utilities */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.bg-lightblue {
    background-color: #b4d0e7;
}

.g-20 {
    gap: 10px;
}

.grow {
    flex-grow: 1;
}

/* HEADER */
.navbar {
    height: 100px;
    justify-content: space-between;

    /* debug */
    background-color: #469959;
}

.navbar-left {
    min-width: 40%;

    /* debug */
    background-color: #cd2628;  
}

.navbar-right {
    min-width: 40%;

    /* debug */
    background-color: #cd2628;    
}

/* MAIN */
.hero {
    padding-top: 30px;
    /* debug */
    height: 500px;
}

.main-sections {
    padding: 20px;

    /* debug */
    height: 1500px;
    border: 3px solid black;
}

.title {
    padding: 20px;
    margin-bottom: 10px auto;

    /* debug */
    height: 50px;
    background-color: #78289e;
}

.col-30 {
    width: calc(100% / 3);

    /* debug */
    border: 3px solid black;
    background-color: lightgray;
    font-size: 3em;
}

.col-60 {
    width: 60%;

    /* debug */
    border: 3px solid black;
    background-color: #3f50b6;
}

.col-40 {
    width: 40%;

    /* debug */
    border: 3px solid black;
    background-color: #5fb44e;
}

.logos-sections {
    /* debug */
    padding-top: 30px;

}

.box-logos {
    width: calc(100% / 3);

    /* debug */
    min-width: 32vw;
    height: 200px;
    background-color: lightseagreen;
    border: 3px solid black;
}

.cta-section {
    width: 100%;
    padding: 10px;

    /* debug */
    height: 100%;
}

.faq-section {
    width: 100%;
    padding: 20px;

    /* debug */
    height: 400px;
}

.faq {
    padding: 20px;
    margin-bottom: 10px auto;

    /* debug */
    height: 350px;
    background-color: #78289e;
}

/* FOOTER */