/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    appearance: none;
}

a {
   color: inherit
}

img {
    max-width: 100%;
}

/* COMMON */
.container-big {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.container-small {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;

    /* debug */
    /* height: 300px; */
}

h3 {
    font-size: 1.5rem;
}

/* Utilities */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.align-stard {
    align-items: flex-start;
}

.bg-lightblue {
    background-color: #b4d0e7;
}

.bg-black {
    background-color: #000000;
}

.g-20 {
    gap: 20px;
}

.g-5 {
    gap: 5px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.m-t-30 {
    margin-top: 30px;
}

.b-b-black {
    border-bottom: 1px solid #000000;
}

.b-b-white {
    border-bottom: 1px solid #FFFFFF;
}

.bold {
    font-weight: bold;
}

.btn-blue {
    background-color: #0062ff;
    color: #FFFFFF;
    padding: .6em 1.2em;
    text-align: center;
}

.btn-blue:hover {
    background-color: #2a7cff;
}

.btn-white {
    padding: .6em 1.2em;
    border: 1px solid #000000;
}

.text-lightblack {
    color: #444444;
}

/* HEADER */
#header-section {
    height: 90px;
    justify-content: space-between;
    font-size: 1.1rem;
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.navbar-left {
    padding: 5px;
}

.navbar-left li:nth-of-type(1n+2):hover {
    border-bottom: .1em solid #000000;
}

.navbar-right {
    padding: 10px;    
}

.navbar-right li:hover {
    border-bottom: .1em solid #000000;
}

/* MAIN */
.hero {
    padding-top: 120px;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 5rem;
}

.hero-container {
    position: relative;
}

.hero-container .col-40 i {
    font-size: 2.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero-container .col-60 {
    position: absolute;
    bottom: 10;
    right: 0;
}

.main-sections {
    padding: 8em 0;
    transform: translateY(-2em);
}

.title h2 {
    padding: 30px 0;
    font-size: 1.5rem;

}

.container-chek {
    display: inline;
}

.btn-label {
    padding-right: 50px;
    cursor: pointer;
}

.btn-checked {
    cursor: pointer;
    width: 2em;
    height: 2em;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: .5em solid #0062ff;
}

.btn-unchecked {
    cursor: pointer;
    width: 2em;
    height: 2em;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: .2em solid #b1b1b1;
}

.blue-check {
    color: #0062ff;
}

.col-20 {
    width: calc(100% / 5);
}

.col-30 {
    width: calc(100% / 3 - 10px);
}

.card {
    height: 100%;
    border: .3px solid #444444;
}

.card-title {
    padding: 1em;
    text-align: center;
    border-bottom: .3px solid #444444;
}

.card-text{
    padding: 2em;
}

.card-text i {
    padding-right: 10px;
}

.card-text-icon {
    width: 20%;
}

.card-text-description {
    width: 80%;
}

.plans {
    margin-bottom: 1em;
}

.buy-link {
    padding: 30px 0 40px 0;
}

.buy-link a {
    text-decoration: underline;
    color: #0062ff;
}

.try-buy-area hr {
    border: .5px solid #b1b1b1;
    width: 25%;
    margin-bottom: 30px;
}

.enterprise-card .card-text {
    width: 70%;
}

.enterprise-card .try-buy-area {
    width: 30%;
    padding: 30px;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.partner-text {
    padding: 40px 30px;
}

.more-info-link {
    text-decoration: underline;
    color: #0062ff;
}

.box-logos {
    width: calc(100% / 3);
    background-color: #f5f5f5;
}

.box-logos-center hr {
    border: .5px solid #b1b1b1;
    width: 25%;
    margin-bottom: 30px;
}

.box-logos-center {
    padding: 20px;
    font-size: .7rem;
}

.box-img-center {
    width: 50%;
    height: 50%;
}

.box-left-t-l,
.box-left-t-r,
.box-left-b-l,
.box-left-b-r,
.box-right-t-l,
.box-right-t-r,
.box-right-b-l,
.box-right-b-r {
    width: 50%;
    height: 200px;
}

.box-left-t-l img,
.box-left-t-r img,
.box-left-b-l img,
.box-left-b-r img,
.box-right-t-l img,
.box-right-t-r img,
.box-right-b-l img,
.box-right-b-r img {
    filter: invert(100%);
    width: 50%;
}

.box-left-t-l {
    background-color: #a3d39c;
    border: 10px solid #d1eace;
}

.box-left-t-r {
    background-color: #610b2b;
}

.box-left-b-l {
    background-color: #0094ce;
}

.box-left-b-r {
    background-color: #ff321b;
}

.box-right-t-l {
    background-color: #d6281d;
}

.box-right-t-r {
    background-color: #b4d0e7;
}

.box-right-b-l {
    background-color: #0d2482;
}

.box-right-b-r {
    background-color: #ffd830;
}

#cta-section {
    width: 100%;
    padding: 10px;
}

.cta h2 {
    color: #610b2b;
}

.cta a {
    background-color: #FFFFFF;
    border: 0;
}

.cta .col-40 {
    justify-content: right;
    align-items: center;
}

#faq-section {
    width: 100%;
    padding: 20px;
}

.faq {
    padding: 20px;
    margin-bottom: 10px auto;
}

.faq-question {
    justify-content: space-between;
}

.faq-hidden:hover::after {
    cursor: pointer;
    display: block;
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vel quidem corporis obcaecati placeat laborum libero odit velit reprehenderit, hic temporibus a sequi tempore magni. Id dolores nulla at optio.";
    padding-top: 20px;
}

/* FOOTER */
.footer-section {
    padding: 20px;
}

footer {
    color: #FFFFFF;
}

h2 {
    font-size: 1.5rem;
}

.change-language {
    font-size: 1.1rem;
}   