/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    appearance: none;
}

a {
   color: inherit
}

img {
    max-width: 100%;
}

/* COMMON */
.container-big {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;

    /* debug */
    /* height: 100%;
    background-color: #c5844b; */
}

.container-small {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;

    /* debug */
    /* height: 300px; */
}

/* Utilities */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.align-stard {
    align-items: flex-start;
}

.bg-lightblue {
    background-color: #b4d0e7;
}

.bg-black {
    background-color: #000000;
}

.g-20 {
    gap: 20px;
}

.g-5 {
    gap: 5px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.btn-blue {
    background-color: #0062ff;
    color: #FFFFFF;
    padding: .6em 1.2em;
    text-align: center;
}

.btn-white {
    padding: .6em 1.2em;
    border: 1px solid #000000;
}

.text-lightblack {
    color: #444444;
}


/* HEADER */
#header-section {
    height: 90px;
    justify-content: space-between;
    font-size: 1.1rem;
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.navbar-left {
    padding: 5px;
}

.navbar-right {
    padding: 10px;    
}

/* MAIN */
.hero {
    padding-top: 120px;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 5rem;
}

.hero-container {
    position: relative;
}

.hero-container .col-40 i {
    font-size: 2.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero-container .col-60 {
    position: absolute;
    bottom: 10;
    right: 0;
}

.main-sections {
    padding: 100px 20px;
    transform: translateY(-2em);

    /* debug */
    height: 3500px;
    border: 3px solid black;
}

.title {
    /* debug */
    height: 150px;
    /* background-color: #78289e; */
}

.title h2 {
    padding: 30px 0;
    font-size: 1.5rem;

}

.container-chek {
    display: inline;
}

.btn-label {
    padding-right: 50px;
    cursor: pointer;
}

.btn-checked {
    cursor: pointer;
    width: 2em;
    height: 2em;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: .5em solid #0062ff;
}

.btn-unchecked {
    cursor: pointer;
    width: 2em;
    height: 2em;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: .2em solid #b1b1b1;
}

.blue-check {
    color: #0062ff;
}

.col-20 {
    width: calc(100% / 5);

    /* debug */
    height: 300px;
    border: 3px solid white;
    background-color: #c6c830;
    font-size: 3em;
}

.col-30 {
    width: calc(100% / 3);
    border: .3px solid #444444;
    /* debug */
    /* background-color: lightgray; */
}

.card-title {
    padding: 1em;
    border-bottom: .3px solid #444444;
    text-align: center;
}

.card-text{
    padding: 2em;
}

.card-text h3 {
    font-size: 1.5rem;
}

.card-text i {
    padding-right: 10px;
}

.card-text-icon {
    width: 20%;
}

.card-text-description {
    width: 80%;
}

.plans {
    margin-bottom: 1em;
}

.buy-link {
    padding: 30px 0 40px 0;
}

.buy-link a {
    text-decoration: underline;
    color: #0062ff;
}

.try-buy-area hr {
    border: .5px solid #b1b1b1;
    width: 25%;
    margin-bottom: 30px;
}

.enterprise-card .card-text {
    width: 70%;
}

.enterprise-card .try-buy-area {
    width: 30%;
    padding: 30px;

}

.col-60 {
    width: 60%;

    /* debug */
    /* border: 3px solid black;
    background-color: #3f50b6; */
}

.col-40 {
    width: 40%;

    /* debug */
    /* border: 3px solid black;
    background-color: #5fb44e; */
}

.partner-text {
    padding: 40px 30px;
}




.box-logos {
    width: calc(100% / 3);

    /* debug */
    height: 200px;
    background-color: lightseagreen;
}

#cta-section {
    width: 100%;
    padding: 10px;

    /* debug */
    height: 100%;
}

#faq-section {
    width: 100%;
    padding: 20px;

    /* debug */
    height: 400px;
}

.faq {
    padding: 20px;
    margin-bottom: 10px auto;

    /* debug */
    height: 350px;
    background-color: #78289e;
}

/* FOOTER */
.footer-section {
    padding: 20px;
    /* debug */
    height: 400px;
}
